<html>
<head>
</head>
<body>
<form action = "{{ url_for('submit') }}" method = "post" > 
name = <input type = "text" name="name"><br>
Password = <input type = "password" name="password"> <br>
User_Id = <input type = "text" name = "user_id" ><br>
Phone = <input type = "text" name="phone"><br>
Street = <input type = "text" name = "street" ><br>
City = <input type = "text" name = "city" > <br>
State = <input type = "text" name = "state" ><br>
<input type = "submit" value = "Submit"> 
</body>
</html>
